<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{controlexterno/controlExternoFragments/ce_layout}">
<head>
    <link href="../../css/form.css" rel="stylesheet">
    <title>Listado de clientes</title>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="cont">
    <div style="background-color:lightblue">
        <h3>This is a heading</h3>
        <p>This is a paragraph.</p>
    </div>
</div>

<div layout:fragment="customjs">

</div>
</body>