<footer th:fragment="footer">
    <div id="footer">
        <span style="font-weight: bold;">PROASECAL S.A.S</span> <br>
        PBX: 57 (1) 6914847 <br>
        CL 102 A # 47 A - 64 Bogotá D.C. <br>
        Celular: 313 4204018 - 301 4077981 - 315 2368224 <br>
        Correo electrónico: sistemas@proasecal.com <br>
    </div>

    <div>
        <script type="text/javascript" src="../../controlexterno/js/jquery.js"></script>
        <script type="text/javascript" src="../../controlexterno/js/jquery.datetimepicker.full.js"></script>
        <script type="text/javascript" src="../../controlexterno/js/bootstrap.js"></script>
        <script type="text/javascript" src="../../controlexterno/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="../../controlexterno/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../controlexterno/js/ckeditor.js"></script>
        <script type="text/javascript" src="../../controlexterno/js/flowplayer.min.js"></script>


        <script type="text/javascript" src="../../controlexterno/js/pdf.js"></script>
        <script type="text/javascript" src="../../controlexterno/js/pdfobject.js"></script>
        <script type="text/javascript" src="../../controlexterno/js/pdfobject.min.js"></script>
        <script type="text/javascript" src="../../controlexterno/js/pdf.worker.js"></script>


        <script type="text/javascript" src="../../controlexterno/js/controlExterno.js"></script>
        <!--<script src="../../controlexterno/js/imgGallery.js"></script>-->
    </div>
</footer>