<div th:fragment="listCss">
    <link href="https://www.proasecal.com/controlexterno/favicon.ico?1536325464" type="image/x-icon" rel="icon">
    <link href="https://www.proasecal.com/controlexterno/favicon.ico?1536325464" type="image/x-icon"
          rel="shortcut icon">
    <link href="../../../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../css/form.css" rel="stylesheet">
    <link rel="stylesheet" href="../../controlexterno/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../controlexterno/css/bootstrap.css">
    <link rel="stylesheet" href="../../controlexterno/css/bootstrap-grid.css">

    <link rel="stylesheet" href="../../controlexterno/css/cake.generic.css">
    <link rel="stylesheet" href="../../controlexterno/css/proasecal.css">
    <link rel="stylesheet" href="../../controlexterno/css/flowplayer.css">
    <link rel="stylesheet" href="../../controlexterno/css/jquery.datetimepicker.css">

    <link href="../../css/form.css" rel="stylesheet">
    <link href="../../../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
   <!-- <link rel="stylesheet" href="../../controlexterno/css/bootstrap-datetimepicker.css">-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</div>


