.controlExterno {
    float: left;
    min-width: 50%;
    boder-right: 1px solid #ccc !important;
}

.progBa {
    float: right;
    min-width: 50%;
    boder-left: 1px solid #000;
}

.progBa img {
    top: 10% !important;
    margin-top: 10% !important;
}

.controlExternoAnt {
    background-color: yellow;
   /* padding: 16px !important;*/
    text-decoration: none;
}

@media (max-width: 780px) {
    .controlExterno, .progBa {
        display: block;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .progBa img {
        max-width: 90%;
    }
}